<!--{% extends 'main.html' %}-->
<!--{% block content %}{% endblock %}-->
<!--{% block content_1 %}-->
<!-- <style>-->
<!--        .container {-->
<!--            width: 200px;-->
<!--            height: 200px;-->
<!--            background: red;-->
<!--        }-->
<!--    </style>-->
<!--<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">-->
<!--<a href="http://localhost:63342/project/application_1/templates/input_html_1.html?_ijt=bav0dcmlpmrth18q4p86hohfcv&_ij_reload=RELOAD_ON_SAVE"><div class="container"></div></a>-->
<!--</div>-->
<!--{% endblock %}-->